* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    justify-content: center;
    background-color: #6BB7D8;
    font-family: 'montserrat', sans-serif;
    letter-spacing: 2px;
    color: #1f1f1f;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    width: 100%;
    color: white;
    padding: 2rem clamp(2.5rem, 8vw, 6rem);
    letter-spacing: 2px;
    text-align: left;
}

.title {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

}

.number {
    font-size: clamp(2rem, 4vw, 4rem);
}

.text {
    font-size: clamp(1rem, 2vw, 2.25rem);
    width: 60%;
}

.back-btn {
    width: fit-content;
    padding: 2% 0;
}

.back-btn img {
    height: clamp(0.25rem, 2.5vw, 0.75rem);
    width: auto;
    fill: white;
}

.back-link {
    display: flex;
    justify-content: center;
    height: auto;
    gap: clamp(0.5rem, 1vw, 1rem);
}

.back-btn span {
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: clamp(0.5rem, 1.5vw, 0.75rem);
    text-align: center;
}

.project-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    background-color: white;
    border-bottom: 2px dashed #1f1f1f;
    color: #1f1f1f;
    padding: 2rem clamp(2.5rem, 8vw, 6rem);
    text-align: center;
}

@media(min-width: 768px) {
    .project-meta {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "OCR A Extended", monospace;
    width: 80%;
    max-width: 42.5rem;
    max-height: 42.5rem;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, -1, 0, 0.2);
    border: 3px solid #1f1f1f;
    margin: 4%;
}

.top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.exitbtn {
    width: clamp(1.25rem, 3vw, 1.75rem);
    height: clamp(1.25rem, 3vw, 1.75rem);
    font-size: clamp(0.5rem, 1.5vw, 0.75rem);
    text-align: center;
    background-color: #1f1f1f;
    color: white;
    border-radius: 4px;
    padding: auto;
    margin: 2%;
}

.exitbtn:hover {
    border: 2px solid #1f1f1f;
    background-color: white;
    color: #1f1f1f;
}

.title-in-box {
    text-transform: uppercase;
    color: white;
    font-size: clamp(1rem, 5vw, 4rem);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    margin: 4%;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputlists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 0;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 24rem;
    padding: 6% 8%;

}

.section label {
    font-size: clamp(0.5rem, 2.5vw, 1rem);
    letter-spacing: 1px;
}

.fill-text {
    display: flex;
    gap: 2%;
    margin: 4% 0;
}



.btn {
    font-family: "OCR A Extended", monospace;
    border-radius: 8px;
    border: 1px solid #1f1f1f;
    background: white;
    width: 4rem;
    height: auto;
    font-size: clamp(0.5rem, 3vw, 1rem);
    padding: 2% 4%;
}

.btn:active {
    border-radius: 8px;
    background: #1f1f1f;
    color: white;
}


#add {
    font-family: "OCR A Extended", monospace;
    width: 100%;
    height: auto;
    padding: 2% 4%;
    font-size: clamp(0.5rem, 3vw, 1rem);
    border-radius: 8px;
    border: 1px solid #1f1f1f;
}



.showlists {
    width: 100%;
    max-width: 25rem;
    background-color: white;
    border: 1.75px solid #1f1f1f;
    border-radius: 8px;
    margin: 4%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
    max-height: 20rem;
}


.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    max-width: 20rem;
    height: clamp(1rem, 5vw, 2.5rem);
    overflow: hidden;
    box-sizing: border-box;
    gap: 2%;
}

.todo-item span {
    flex: 1;
    min-width: 0;
    height: clamp(0.5rem, 5vw, 2rem);
    font-size: clamp(0.5rem, 3vw, 1rem);
    padding: 2%;
    width: 100%;
    max-width: 18rem;
    border-radius: 4px;
    border: 0.5px solid #1f1f1f;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-item button {
    flex-shrink: 0;
    width: clamp(0.25rem, 5vw, 2rem);
    height: clamp(0.5rem, 5vw, 2rem);
    padding: 0;
    border: 1px solid #1f1f1f;
    background: rgb(224, 224, 224);
    border-radius: 4px;
    font-size: clamp(0.25rem, 2.5vw, 1rem);
    cursor: pointer;
}

.todo-item button:hover {
    background: #1f1f1f;
    color: white;
}

.mascot img {
    width: clamp(8rem, 28vw, 18rem);
    z-index: 10;
    margin-top: 30%;
    margin-bottom: -0.25rem;
}


.popup-overlay {
    font-family: "OCR A Extended", monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    border: 2px solid #1f1f1f;
    padding: 2%;
    width: 80%;
    min-width: 6rem;
    max-width: 20rem;
    font-size: clamp(0.75rem, 2vw, 1rem);
    text-align: center;

}

.popup-actions {
    margin: 0.25rem 0;
    display: flex;
    justify-content: center;
    gap: 4%;
}

.popup-actions button {
    font-family: "OCR A Extended", monospace;
    font-size: clamp(0.75rem, 2vw, 1rem);
    width: 28%;
    padding: 2% 4%;
    height: auto;

}